<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<div>
    <h1>Express js !!!</h1>
    <p>Welcome to <%= title %></p>

    <% let users = ['geddy', 'neil', 'alex']; %>
    <% users.forEach(function(user){ %>
        <li><%= user %></li>
    <% }); %>

</div>

</body>
</html>
