<!DOCTYPE html>
<html>
<head>
    <title>Tin tức</title>
</head>
<body>

<div>
    <h1>News</h1>

    <% data.forEach(function(news){ %>
        <li><%= news.title %></li>
    <% }); %>
</div>

</body>
</html>
