<!DOCTYPE html>
<html>
<head>
    <title>Tin tức</title>
    <link rel='stylesheet' href='/src/public/stylesheets/news.css'/>
</head>
<body>

<h1>News</h1>
<span>tin tuc tin tuc</span>
</body>
</html>
